<!doctype html>
<html id="MdTong">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../icon-font/iconfont.css">
	</head>
	<style type="text/css">
		.mui-content .check-data-li {
			display: flex;
			padding: 6px 16px;
			align-items: center;
		}
		
		.mui-content .check-data-li .check-data-li-left {
			width: 80%;
			display: flex;
			flex-direction: column;
			padding-right: 18px;
		}
		
		.mui-content .check-data-li .all-with {
			width: 100%;
		}
		
		.mui-content .check-data-li .check-data-li-right {
			width: 20%;
			color: #0099FF!important;
			position: relative;
			text-align: center;
		}
		
		.mui-content .check-data-li .check-data-li-right:after {
			position: absolute;
			top: -8px;
			height: 34px;
			left: 0;
			content: '';
			background-color: #bbb;
			width: 1px;
			-webkit-transform: scaleY(0.5);
			transform: scaleY(0.5);
		}
		
		.equ-name {
			font-size: 1.5rem;
            color: #000;
            margin-bottom: 5px;
            display: block;
            word-wrap: break-word;
		}
		.equ-params {
			color: #666;
		}
	</style>

	<body ng-controller="ParentPageController">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon icon-back mui-pull-left">设备保养记录</a>
		</header>
		<div class="mui-content" ng-class="{'mui-block':isLoad}" style="display: none;">
			<ul class="data-group" style="margin-top: 0px;">
				<li class="mui-table-view-cell data-row check-data-li" ng-repeat="item in data" ng-click="tap('inventory',item)">
					<div class="check-data-li-left" ng-class="{'all-with':done}">
						<div class="equ-name">
							<span ng-bind="item.PlanName"></span>
						</div>
						<div class="equ-params">
							<span>保养时间：</span>
							<span ng-bind="item.MaintainDate"></span>
						</div>
						<div class="equ-params">
							<span>是否异常：</span>
							<span ng-if="item.Exception==1" style="color: #DE1616;">异常</span>
							<span ng-if="item.Exception==0">正常</span>
						</div>
					</div>
					<div ng-if="!havedoen" class="check-data-li-right" ng-bind="item.State==0?'待执行':'已执行'"></div>
				</li>
			</ul>
			<md-no-data ng-show="data && data.length==0">暂无数据</md-no-data>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/angular.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/rpc.js"></script>
		<script type="text/javascript" src="../../js/utils.js"></script>
		<script>
			app.controller("ParentPageController", ["$scope", "ApiService", "DataService", "UtilsService", "RPCObserver", "Loading", function($scope, ApiService, DataService, UtilsService, RPCObserver, Loading) {
				$scope.message = query('message'); //是不是从工作通知进来的
				//              alert($scope.message)
				$scope.planId = query("id");
				$scope.planLogId = query('planLogId');
				$scope.done = query('done'); //待保养列表或者已保养列表
				$scope.havedoen = query('havedoen')
				$scope.eqId = query('eqId')

				$scope.data = "";
				getPlanDetailsPageList();

				//保养设备列表
				function getPlanDetailsPageList() {
					var url = ApiService.Api52 + "/api/v1/EqMaintain/GetEqInfoMaintainList?&pageIndex=1&pageSize=9999&eqId=" +$scope.eqId
					DataService.get(url).then(function(res) {
						$scope.isLoad = true;
						$scope.data = res.DataRows;
					})
				};

				$scope.tap = function(key, equinfo) {
					switch(key) {
						case "inventory":
						if($scope.done) {
								UtilsService.openWindow({
									needLogin: true,
									id: "equ-mainten-info.html",
									url: "equ-mainten-info.html?planId=" + equinfo.PlanID + "&id=" + equinfo.ID + "&eqId=" + equinfo.EQID  +'&planLogId='+equinfo.PlanLogID+ "&hasDone=true" + "&done=" + $scope.done
								})
							} else {
								Loading.show();
								var url = ApiService.Api52 + "/api/v1/EqMaintain/MaintainDetailsJudge?eqLogId="+equinfo.ID+"&planLogId="+equinfo.PlanLogID+"&planId="+equinfo.PlanID+"&eqId="+equinfo.EQID;
								DataService.get(url).then(function(res) {
									$scope.State = res.State
								  //res.State 1已保养 2未保养
									Loading.hide();
									//报废或删除
									if(res.EqState == 9 || res.EqState == 2) {
										if(res.State == 2) {
											//未保养的设备报废或删除，不进入，刷新列表
											mui.toast("该设备已报废或被删除");
											getPlanDetailsPageList();
											RPCObserver.broadcast("refresh_msg_all_list");
											RPCObserver.broadcast("equ-check-list-refresh");
											return;
										} else {
											//已保养的设备报废或删除，跳转详情页面
											UtilsService.openWindow({
												needLogin: true,
												id: "equ-mainten-info.html",
												url: "equ-mainten-info.html?planId=" + equinfo.PlanID + "&id=" + equinfo.ID + "&eqId=" + equinfo.EQID +'&planLogId='+equinfo.PlanLogID+ "&isEdit=true" + "&done=true&hasdone=true"
											})
										}
									} else if($scope.message && $scope.State == 1) {
										UtilsService.openWindow({
											needLogin: true,
											id: "equ-mainten-info.html",
											url: "equ-mainten-info.html?planId=" + equinfo.PlanID + "&id=" + equinfo.ID + "&eqId=" + equinfo.EQID  +'&planLogId='+equinfo.PlanLogID+ "&isEdit=true" + "&done=" + $scope.done
										})
									} else {
                                      UtilsService.openWindow({
											needLogin: true,
											id: "equ-mainten-carryout.html",
											url: "equ-mainten-carryout.html?planId=" + equinfo.PlanID +'&planLogId='+equinfo.PlanLogID+ "&id=" + equinfo.ID + "&eqId=" + equinfo.EQID + "&hasDone=" + ($scope.State == 2 ? false : true)
										})
									}
								});
							}
							break;
						default:
							break;
					}
				}
				RPCObserver.on("inventory-equ-refresh", "viewRefresh");
				window.viewRefresh = getPlanDetailsPageList;

			}]);

			mui.plusReady(function() {
				angular.bootstrap(document.getElementById("MdTong"), ["MdTong"]);
			});
		</script>
	</body>

</html>