<!doctype html>
<html id="MdTong">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../icon-font/iconfont.css" />
		<style type="text/css">
			.icon {
				width: 16px;
			}
		</style>
	</head>

	<body ng-controller="EqMaListModSubController">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon icon-back mui-pull-left">保养记录</a>
			<!--<a class="mui-pull-right menu-add" id="add" ng-click="add()" ng-if="('Q9' | hasAuth)&&isScrap!='true'">
				<img class="icon" src="../../images/add.png" />
			</a>-->
		</header>
		<div class="mui-content"></div>
		<!--<div id="slider" class="mui-scroll-wrapper" style="display: none;" ng-class="{'mui-block':isLoad}">
			<md-device-insp-list ng-model="data"></md-device-insp-list>
			<md-no-data ng-show="data&&data.length==0">暂无数据</md-no-data>
		</div>-->
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/angular.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/utils.js"></script>
		<script type="text/javascript" src="../../js/rpc.js"></script>
		<script>
			app.controller("EqMaListModSubController", ["$scope", "ApiService", "DataService", "UtilsService", "Loading", function($scope, ApiService, DataService, UtilsService, Loading) {
				$scope.equipmentId = query("equid");
				$scope.isScrap = query("isScrap");
				mui.init({
					subpages: [{
						url: 'equ-preserveList.html?equid=' + $scope.equipmentId,
						id: 'equ-preserveList.html',
						styles: {
							top: '45px',
							bottom: '0px',
						}
					}]
				});
				//跳转
				$scope.add = function() {
					UtilsService.openWindow({
						needLogin: true,
						id: 'equ-preserve.html',
						url: 'equ-preserve.html',
						extras: {
							addEquRecord: plus.webview.currentWebview().addEquRecord || ''
						}
					});
				};
			
			}]);
			mui.plusReady(function() {
				angular.bootstrap(document.getElementById("MdTong"), ["MdTong"]);
			});
		</script>
	</body>

</html>