<!doctype html>
<html id="MdTong">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="index.css" />
		<link rel="stylesheet" href="../../icon-font/iconfont.css" />
	</head>

	<body ng-controller="EqController">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon icon-back mui-pull-left">资产管理</a>
			<a class="mui-pull-right menu-add font-16" href="#popover" id="openPopover" ng-if="['Q4','Q9','Q14'] | hasAuth" ng-class="{'mui-block':loaded}" style="display: none;">
				<span class="icon-add"></span>
			</a>
			<a class="mui-pull-right menu-sao font-16" id="saoyisao" ng-click="tap('scan')">
				<span class="icon-saoyisao"></span>
			</a>
		</header>
		<div class="mui-content" ng-class="{'mui-block':loaded}" style="display: none;">
			<div class="index-banner">
				<img src="../../images/eqmentlib/equ-banner.png"/>
			</div>
			<div class="common-application" ng-if="mod.menus.length!=0" ng-repeat="mod in CommonApp">
				<div class="application-title" ng-hide="!mod.title">
					<span ng-bind="mod.title"></span>
					<span class="float-right"></span>
				</div>
				<div class="application-1f mui-grid-view mui-grid-9">
					<div ng-repeat="app in mod.menus" ng-style="{'margin-top':($index>3)?'25px':'0'}" ng-click="tap(app.action)" class="application-list mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
						<img ng-src="{{app.icon}}" />
						<div ng-class="{'font-12':isIphone5}" ng-bind="app.title"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="popover" class="mui-popover menuDivModel">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell" ng-click="tap('edit')" ng-if="'Q4' | hasAuth">
					<a class="mui-icon icon-edit">
						<font>新增资产</font>
					</a>
				</li>
				<li class="mui-table-view-cell delLiAfter" ng-click="tap('faultEdit')" ng-if="'Q9' | hasAuth">
					<a class="mui-icon icon-report">
						<font>新增设备故障</font>
					</a>
				</li>
				<li class="mui-table-view-cell delLiAfter" ng-click="tap('repair')" ng-if="'Q9' | hasAuth">
					<a class="mui-icon icon-repair">
						<font>新增故障维修</font>
					</a>
				</li>

				<li class="mui-table-view-cell" ng-click="tap('maintenance')" ng-if="'Q14' | hasAuth">
					<a class="mui-icon icon-report">
						<font>新增巡检档案</font>
					</a>
				</li>
			</ul>
			<ul>
				
			</ul>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/angular.min.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/rpc.js"></script>
		<script src="index.js"></script>
	</body>

</html>