<!doctype html>
<html id="MdTong">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../icon-font/iconfont.css" />
		<style>
			.data-group:first-child {
				margin-top: 0;
			}
			
			.mui-table-view-cell.data-row {
				padding: 0px;
			}
		</style>
	</head>

	<body ng-controller="PartEditController">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon icon-back mui-pull-left">更换配件</a>
		</header>
		<div class="mui-content" ng-class="{'mui-block':isLoad}" style="display: none;">
			<ul class="data-group">
				<li class="mui-table-view-cell data-row must" ng-click="selectProdSkuPage()">
					<label>零配件</label>
					<p class="opt md-icon font-15">
						<span class="icon-right"></span>
					</p>
					<div class="body">
						<span class="placeholder" ng-if="!ProdName">请选择零配件</span>
						<span ng-bind="ProdName" ng-if="ProdName"></span>
					</div>
				</li>
				<li class="data-row must">
					<label>型号</label>
					<div class="body">
						<span class="placeholder" ng-if="!SkuName">请选择零配件</span>
						<span ng-bind="SkuName"></span>
					</div>
				</li>
				<li class="data-row must">
					<label>数量</label>
					<div class="body">
						<input type="number" maxlength="9" id="partNum" placeholder="请输入数量" onkeyup="value=value.substr(0,9)" ng-value="Nums" />
					</div>
				</li>
				<li class="data-row">
					<label>备注</label>
					<div class="body">
						<div class="edit">
							<div ng-model-div-text="Remark" id="partRemark" class="needsclick" lenlimit="400" placeholder="请输入备注内容"></div>
						</div>
					</div>
				</li>
			</ul>
			<div class="mui-content-padded" ng-click="saveChange()">
				<span class="mui-btn mui-btn-block">确认</span>
			</div>
		</div>
		<!--无网络或请求失败重试-->
		<md-state-tip options="retryModal" ng-show="retryModal.state"></md-state-tip>
		<script src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/angular.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/utils.js"></script>
		<script type="text/javascript" src="../../js/rpc.js"></script>
		<script>
			app.controller("PartEditController", ["$scope", "ApiService", "DataService", "AuthService", "UtilsService", "RPCObserver", function($scope, ApiService, DataService, AuthService, UtilsService, RPCObserver) {
				$scope.oneSave = true; //保存一次
				$scope.ProdID = "";
				$scope.ProdName = "";
				$scope.SkuID = "";
				$scope.SkuName = "";
				$scope.Nums = 1;
				$scope.Remark = "";
				
				//无网络或请求失败重试
				$scope.retryModal = {
					msg: "更换配件",
					retry: getPartEdit,
					state: ""
				}

				getPartEdit();

				//初始化数据
				function getPartEdit() {
					if(query("id") == 0) {
						var mainPartData = plus.webview.currentWebview().newPart;
						if(mainPartData) {
							$scope.Nums = mainPartData.Nums;
							$scope.Remark = mainPartData.Remark;
							$scope.ProdID = mainPartData.ProdID;
							$scope.ProdName = mainPartData.ProdName;
							$scope.SkuID = mainPartData.SkuID;
							$scope.SkuName = mainPartData.SkuName;
						}
						$scope.isLoad = true;
					}
					if(query("id") > 0) {
						var url = ApiService.Api50 + "/api/v2/MatWorkOrder/GetEqRepairPartsInfo?repairPartsId=" + query("id");
						DataService.get(url).then(function(res) {
							if(res) {
								$scope.Nums = res.Nums;
								$scope.Remark = res.Remark;
								$scope.ProdID = res.ProdID;
								$scope.ProdName = res.ProdName;
								$scope.SkuID = res.SkuID;
								$scope.SkuName = res.SkuName;
								$scope.retryModal.state = "";
								$scope.isLoad = true;
							}
						}, function(error) {
							$scope.retryModal.state = error.State;
						});
					}
				};

				$scope.selectProdSkuPage = function() {
					UtilsService.openWindow({
						id: "problib-index.html",
						url: "../problib/index.html?state=selsku",
						extras: {
							selectObj: {
								ProdID: $scope.ProdID,
								SkuID: $scope.SkuID
							},
							callback: 'sltProdSku'
						}
					})
				};
				$scope.saveChange = function() {
					if($scope.oneSave) {
						$scope.oneSave = false;
						$scope.Nums = document.getElementById("partNum").value;
						//判断必填
						if(!$scope.ProdID) {
							mui.toast("请选择零配件！", {
								duration: 1300,
								type: 'div'
							});
							$scope.oneSave = true;
							return false;
						} else if(!$scope.SkuName) {
							mui.toast("请选择配件型号！", {
								duration: 1300,
								type: 'div'
							});
							$scope.oneSave = true;
							return false;
						} else if(!$scope.Nums || $scope.Nums <= 0) {
							mui.toast("配件数量为正整数！", {
								duration: 1300,
								type: 'div'
							});
							$scope.oneSave = true;
							return false;
						} else if(!checkLengthUtil.check()) {
							$scope.oneSave = true;
							return false;
						}
						if(!/^[0-9]+$/.test($scope.Nums)) {
							mui.toast("配件数量为正整数！", {
								duration: 1300,
								type: 'div'
							});
							$scope.oneSave = true;
							return false;
						}
						$scope.Nums = parseInt($scope.Nums);

						var url = ApiService.Api50 + "/api/v1/MatWorkOrder/SaveMatRepairParts";
						var partMainData = plus.webview.currentWebview().mainData;
						var objData = {};
						if(partMainData) {
							objData = {
								"MatRepairID": partMainData.EqRepairID,
								"MatWordOrderFailureID": partMainData.EqWordOrderFailureID,
								"RepairParts": [{
									"ID": query("id") || 0,
									"Nums": $scope.Nums,
									"Remark": $scope.Remark,
									"ProdID": $scope.ProdID,
									"ProdName": $scope.ProdName,
									"SkuName": $scope.SkuName,
									"SkuID": $scope.SkuID,
									"IsDelete": 0
								}]
							}
							DataService.post(url, objData).then(function(res) {
								if(res) {
									UtilsService.saveModal(function() {
										RPCObserver.broadcast('refresh_equ_info_pact');
										RPCObserver.broadcast('refresh_equ_parts_list');
										//刷新 维修详情
										RPCObserver.broadcast('refresh_equ_repair_info');
										RPCObserver.broadcast('refresh_equ_fault_repair');
										RPCObserver.broadcast('refresh_equ_part_info');
										RpcClient.invoke("prod-info.html", "Rpc_refWorks");
										mui.back();
									});
								}
							}, function(error) {
								error.State == -1 && mui.toast("网络异常", {
									duration: 1300,
									type: 'div'
								});
							})
						} else {
							if(query("id") == 0) {
								var RepairPartItem = {
									"Nums": $scope.Nums,
									"Remark": $scope.Remark,
									"ProdID": $scope.ProdID,
									"ProdName": $scope.ProdName,
									"SkuName": $scope.SkuName,
									"SkuID": $scope.SkuID,
									"IsDelete": 0
								}
								var mainPartData = plus.webview.currentWebview().newPart;
								if(mainPartData) {
									RepairPartItem["ID"] = mainPartData.ID;
								} else {
									RepairPartItem["ID"] = query("id");
								}
								RpcClient.invoke("part-replacement.html", "RPC_FaultMaintenancePactInfo", {
									state: "main",
									id: query("id"),
									partData: RepairPartItem,
									index: plus.webview.currentWebview().newPartIndex === undefined ? '' : plus.webview.currentWebview().newPartIndex
								});
								RpcClient.invoke("equ-repair.html", "RPC_FaultMaintenancePactInfo", {
									state: "main",
									id: query("id"),
									partData: RepairPartItem,
									index: plus.webview.currentWebview().newPartIndex === undefined ? '' : plus.webview.currentWebview().newPartIndex
								});
								mui.back();
							}
						}
					}
				}

			}]);

			mui.plusReady(function() {
				angular.bootstrap(document.getElementById("MdTong"), ["MdTong"]);
				if(mui.os.android) {
					var windowHeight = document.documentElement.clientHeight;
					document.body.style.height = windowHeight + 'px';
				}
			});

			function sltProdSku(obj) {
				var appElement = document.querySelector('[ng-controller=PartEditController]');
				var $scope = angular.element(appElement).scope();
				$scope.ProdID = obj.ProdID;
				$scope.ProdName = obj.ProdName;
				$scope.SkuID = obj.SkuID;
				$scope.SkuName = obj.SkuName;
				$scope.$apply();
			}
		</script>
	</body>

</html>