/*加号图标样式*/

.icon {
	width: 16px;
}


/*列表栅格样式*/

.mui-grid-view.mui-grid-9 {
	border: 0;
	background: #fff;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	border: 0;
}

.mui-grid-view.mui-grid-9 .mui-media {
	color: #323223;
}

.mui-table-view-cell:after {
	height: 0px;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	padding-left: 15px!important;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell {
	padding: 0px;
}

.mui-table-view-cell {
	padding: 0;
	vertical-align: middle;
}


/*列表样式*/

.data-group {
	margin-top: 0px;
}

.prodname {
	background: #F3F9FF;
	color: #000;
	font-size: 1.4rem;
	font-weight: bold;
	position: fixed;
	z-index: 1;
	top: 0px;
	width: 100%;
}

.prodtime {
	background: #EFEFEF;
}

.prodtime label {
	color: #888888!important;
}

.prodlist {
	font-size: 1.4rem;
}

.prodlist:nth-child(2) {
	margin-top: 40px;
}

.data-group .data-row .body {
	display: flex;
	align-items: center;
	padding-left: 16px;
}

.data-group .data-row:after {
	left: 0px!important;
	right: 0px!important;
}

.prodlist .mui-row {
	color: #323232!important;
}

.mui-table-view-cell.mui-active {
	background-color: transparent;
}

.width50 {
	width: 50%;
}

.width30 {
	width: 30%;
}

.width20 {
	width: 20%;
	text-align: center;
}