.text-dot {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.product-avatar {
	height: 30px;
	width: 30px;
	background-size: 30px 30px;
}

.data-wrap {
	background-color: #fff;
}

.data-item {
	padding: 14px 16px 10px;
	font-size: 1.5rem;
	line-height: 17px;
	position: relative;
}

.data-item::after {
	position: absolute;
	left: 10px;
	right: 10px;
	bottom: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background-color: #EAEAEA;
}

.user-name {
	margin-top: 0;
	font-size: 1.5rem;
	line-height: 17px;
	font-weight: normal;
	color: #000000;
	margin-bottom: 10px;
}

.product {
	background-color: #F7F7F7;
	padding: 10px;
	margin-bottom: 10px;
}

.product-avatar {
	height: 40px;
	width: 40px;
	background-color: #FFF;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}

.product-info {
	margin-left: 50px;
	color: #AAAAAA;
}

.product-name {
	margin-top: 0;
	font-size: 1.5rem;
	line-height: 17px;
	margin-bottom: 10px;
}

.product-type-wrap {
	font-size: 1.2rem;
	line-height: 14px;
	color: #8f8f94;
}

.product-type-item {
	display: inline-block;
	max-width: 20vw;
	margin-right: 10px;
	vertical-align: top;
}

.operte-item {
	float: left;
	font-size: 1.2rem;
	line-height: 14px;
	max-width: 24%;
	margin-right: 3%;
	color: #AAAAAA;
}

.extended-warranty {
	max-width: 44%;
	margin-right: 0;
}
.data-group.partsList{
	margin-top: 0;
}

.data-group.partsList .data-row .body {
	padding-left: 16px;
}

.data-group .data-row .body .parts-content {
	font-size: 1.5rem;
	color: #000;
	line-height: 19px;
	font-family: MicrosoftYaHei;
}

.data-group .data-row .body .station-content {
	font-size: 1.5rem;
	color: #000;
	line-height: 19px;
	font-family: MicrosoftYaHei;
}

.data-group.mdDervRepaList .data-row .body {
	padding: 4px 0px 4px 16px;
	margin-right: 40px;
}

.data-group .data-row .body .parts-item {
	font-size: 1.2rem;
	color: #AAAAAA;
	line-height: 17px;
}

.data-group .data-row .body .link-man {
	font-size: 1.5rem;
}

.data-group .data-row .body .chat-user {
	color: #3296FA!important;
	font-size: 1.2rem;
	margin-right: 5px;
}

.data-group .data-row .body .chat-user:last-child {
	margin-right: 0;
}