<!doctype html>
<html id="MdTong">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../icon-font/iconfont.css" />
		<style type="text/css">
			.icon {
				width: 16px;
			}
			
			.menu-work {
				padding: 13px 6px 13px 10px;
				z-index: 20;
				position: relative;
			}
			
			.mui-bar-nav~.mui-content .mui-pull-top-pocket {
				top: 44px!important;
			}
			
			.mui-bar-nav~.has-tab .mui-pull-top-pocket {
				top: 84px!important;
			}
		</style>
	</head>

	<body ng-controller="inspListController">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon icon-back mui-pull-left" ng-bind="ISJJComp?'工作日志统计':'日常工作'"></a>

			<a class="mui-pull-right menu-add" id="add" ng-click="add()" ng-if="('Q42' | hasAuth) && !ISJJComp" style="display: none;" ng-class="{'mui-block':showadd}">
				<img class="icon" src="../../images/add.png" />
			</a>
			<a class="mui-pull-right menu-search" id="search" ng-click="search()">
				<img class="icon" src="../../images/search.png" />
			</a>
			<a class="mui-icon icon-statistics mui-pull-right" ng-if="(['Q39', 'Q40', 'Q41', 'Q43'] |hasAuth)" ng-class="{'mui-block':showadd}" ng-click="workStat()" style="padding-right: 20px;display: none;"></a>
		</header>
		<!--<md-tab ng-model="tabs"></md-tab>-->
		<div class="mui-content" ng-class="{'has-tab':isLoad}">
			<ul class="md-tab" top="84" ng-if="!(['Q41','Q43'] | hasAuth)" style="display: none;" ng-class="{'mui-block':isLoad}">
				<li class="md-tab-item md-active" href="work-all.html?type=my" winid="work-my.html">我提交的</li>
				<li class="md-tab-item" href="work-all.html?type=at" winid="work-at.html">发给我的</li>
				<li class="md-tab-item" href="work-all.html?type=comment" winid="work-comment.html">我点评的</li>
				<li class="md-tab-item" href="work-all.html?type=dept" winid="work-dept.html" ng-if="['Q39', 'Q40', 'Q41', 'Q43'] | hasAuth">本部门的</li>
				<li class="md-tab-item" href="work-all.html?type=depts" winid="work-depts.html" ng-if="['Q40','Q41','Q43'] | hasAuth">下级部门</li>
			</ul>
			<div id="slider" class="mui-slider mui-fullscreen" ng-if="['Q41','Q43'] | hasAuth">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted " style="background: #fff;display: none;" ng-class="{'mui-block':isLoad}">
					<div class="mui-scroll md-tab md-tab-block" top="84">
						<a class="md-tab-item md-active" href="work-all.html?type=my" winid="work-my.html">我提交的</a>
						<a class="md-tab-item" href="work-all.html?type=at" winid="work-at.html">发给我的</a>
						<a class="md-tab-item" href="work-all.html?type=comment" winid="work-comment.html">我点评的</a>
						<a class="md-tab-item" href="work-all.html?type=dept" winid="work-dept.html" ng-if="['Q39', 'Q40', 'Q41', 'Q43'] | hasAuth">本部门的</a>
						<a class="md-tab-item" href="work-all.html?type=depts" winid="work-depts.html" ng-if="['Q40','Q41','Q43'] | hasAuth">下级部门</a>
						<a class="md-tab-item all-item" href="work-all.html?type=all" winid="work-all.html" ng-if="['Q41','Q43'] | hasAuth">所有日志</a>
					</div>
				</div>
				<div class="md-tab-block-line">
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/angular.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/utils.js"></script>
		<script type="text/javascript">
			app.controller("inspListController", ["$scope", "UtilsService", "CacheService", "$filter", function($scope, UtilsService, CacheService, $filter) {
				$scope.showadd = true;
				//				$scope.tabs = [{
				//					id: "work-my.html",
				//					url: "work-all.html?type=my",
				//					title: "我提交的"
				//				}, {
				//					id: "work-at.html",
				//					url: "work-all.html?type=at",
				//					title: "发给我的"
				//				}, {
				//					id: "work-dept.html",
				//					url: "work-all.html?type=dept",
				//					title: "本部门的",
				//					auth: ["Q39", "Q40", "Q41", "Q43"]
				//				}, {
				//					id: "work-depts.html",
				//					url: "work-all.html?type=depts",
				//					title: "下级部门",
				//					auth: ["Q40", "Q41", "Q43"]
				//				}, {
				//					id: "work-all.html",
				//					url: "work-all.html?type=all",
				//					title: "所有日志",
				//					auth: ["Q41", "Q43"]
				//				}];
				$scope.isLoad = $filter("hasAuth")('Q40') ? $filter("hasAuth")(['Q39', 'Q40', 'Q41', 'Q43']) : true;
				!$scope.isLoad && document.querySelector(".md-tab").setAttribute("top", "44");
				var user = CacheService.get("user");
				$scope.ISJJComp = user.CompID == 266;
				setTimeout(function() {
					MdConfig.StartUsingTab();
				}, 200)

				$scope.add = function() {
					UtilsService.openWindow({
						needLogin: true,
						id: 'work-edit.html',
						url: 'work-edit.html'
					});
				};

				$scope.search = function() {
					UtilsService.openWindow({
						needLogin: true,
						id: 'work-search.html',
						url: '../aftersale/work-search.html'
					});
				};
				$scope.workStat = function() {
					UtilsService.openWindow({
						needLogin: true,
						id: 'work-stat.html',
						url: '../aftersale/work-stat.html'
					});
				};

				var cur_win = plus.webview.currentWebview();
				cur_win.addEventListener("close", function() {
					if(cur_win.opener().id == "work.html") {
						cur_win.opener().evalJS("WorkLogBack()");
					}
				});

			}]);

			mui.plusReady(function() {
				angular.bootstrap(document.getElementById("MdTong"), ["MdTong"]);
			});
		</script>
	</body>

</html>