<!DOCTYPE html>
<html id="MdTong">

	<head>
		<meta charset="utf-8">
		<title>全部新闻</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="news.css" />
	</head>

	<body ng-controller="CompNewsController">
		<div id="slider" class="mui-scroll-wrapper" style="display: none;" ng-class="{'mui-block':isLoad}">
			<div class="content">
				<ul class="mui-table-view" ng-repeat="info in newsList" ng-show="newsList.length>0">
					<li class="mui-table-view-cell" ng-if="info.ImgUrl"  ng-click="tap('newsInfo',info.ID)">
						<a class="news">
							<div class="news-img news-img-single" ng-style="{'background-image':'url('+info.ImgUrl+')'}"></div>
							<p class="news-title" ng-bind="info.Title"></p>
							<p class="news-footer mui-ellipsis">
								<span ng-bind="info.ShowTime"></span>
							</p>
						</a>
					</li>
					<li class="mui-table-view-cell" ng-if="!info.ImgUrl"  ng-click="tap('newsInfo',info.ID)">
						<a class="news">
							<p class='news-title' ng-bind="info.Title"></p>
							<p class="news-footer mui-ellipsis">
								<span ng-bind="info.ShowTime"></span>
							</p>
						</a>
					</li>
				</ul>
			</div>
			<md-no-data ng-show="newsList.length==0">暂无新闻数据</md-no-data>
		</div>
	</body>
	<script src="../../js/mui.min.js"></script>
	<script type="text/javascript" src="../../js/angular.min.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>
	<script type="text/javascript" src="../../js/utils.js"></script>
	<script type="text/javascript" src="news.js"></script>

</html>