body {
	font-size: 13px;
	background-color: #efeff4;
	color: #4D4D4D;
}

.pkgslidImg-wrap {
	width: 100%;
}

.imgNobk {
	background: 0;
}

.fr {
	float: right;
	margin-left: 7px;
}

.tIndent0 {
	text-indent: 0;
}

.top44 {
	top: 44px !important;
}

.mgRight10 {
	margin-right: 10px;
}

.mgTop5 {
	margin-top: 5px;
}

.pt5 {
	padding-top: 5px !important;
}

.pd5 {
	padding: 5px;
}

.pdLeft5 {
	padding-left: 5px;
}

.pdRight5 {
	padding-right: 5px;
}

.text-center {
	text-align: center;
}

.mui-content {
	background-color: #fff;
}

.mui-contentPd {
	background-color: #f5f5f5;
	height: 8px;
}

.mui-media-body .mui-navigate-right {
	color: #000;
}

.nobk .mui-table-view-cell.mui-active {
	background-color: #fff !important;
}

.nobk .mui-table-view-cell.mui-active>.mui-slider-handle {
	background-color: #fff;
}

.nobk .mui-table-view-cell>a:not(.mui-btn).mui-active {
	background-color: #fff;
}

.viewPd5 .mui-table-view-cell {
	padding: 5px;
}

.viewPd5 .mui-table-view-cell:after {
	left: 5px;
}

.viewPd10 .mui-table-view-cell {
	padding: 11px 4px 15px 10px;
}

.viewPd10 .mui-table-view-cell:after {
	left: 6px;
}

.viewTableNoBdBottom:after {
	height: 0;
}

.inputGroupnobk:after {
	background-color: #FFF;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted {
	border-bottom: 1px solid #efefe5;
	margin-bottom: 8px;
	background: #fff;
}

.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
	border-bottom: 2px solid #169BD5;
	color: #169BD5;
}

.mui-segmented-control .mui-control-item {
	font-size: 12px;
	line-height: 30px;
}

.icon-tag {
	background-position: 2px center;
	background-repeat: no-repeat;
	background-size: 16px;
	line-height: 23px;
	height: 21px;
}

.icon-mail {
	background-image: url(../../images/mail.png);
}

.icon-tel {
	background-image: url(../../images/phone.png);
}

.icon-address {
	background-image: url(../../images/address.png);
}

span.icon-tag {
	display: block;
	padding-left: 20px;
}

.scroll-wrap {
	top: 126px !important;
	padding-top: 5px;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
}

.mui-bar~.mui-pull-top-tips {
	top: 24px;
}

.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
	margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #fff;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.mui-pull-top-canvas canvas {
	width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
	background-color: #fff;
}

.list-wrap .mui-table-view:before {
	height: 0;
}

.list-wrap .mui-table-view-cell .mui-navigate-right {
	padding-bottom: 6px;
}

.list-wrap .mui-table-view .mui-media-object.mui-pull-left {
	margin-right: 4px;
}

.list-wrap .mui-media-object {
	width: 81px;
	height: 81px;
	max-width: 81px;
	position: relative;
}

.list-wrap .mui-media-object40 {
	width: 51px;
	height: 51px;
	max-width: 51px;
	position: relative;
}

.list-wrap .mui-media-object60 {
	width: 61px;
	height: 61px;
	max-width: 61px;
	position: relative;
}

.list-wrap .pro-wrap-thumb60 {
	width: 59px;
	height: 59px;
	padding: 5px;
	border: solid 1px #f3f3f3;
}

.list-wrap .pro-wrap-thumb60 img {
	width: 48px;
	height: 48px;
}

.list-wrap .pro-wrap-thumb,
.list-wrap .comp-wrap-thumb {
	width: 79px;
	height: 79px;
	padding: 5px;
	border: solid 1px #f3f3f3;
}

.list-wrap .pro-wrap-thumb img {
	width: 67px;
	height: 67px;
}

.list-wrap .corner {
	width: 70px;
	height: 70px;
	position: absolute;
	left: 0;
	top: 0;
}

.list-wrap span.mui-ellipsis {
	display: block;
}

.list-wrap p.mui-ellipsis {
	font-size: 12px;
	margin-top: 5px;
}

.list-wrap .cellNum {
	margin-right: 20px;
	margin-top: 5px;
}

.list-wrap .cellNum p {
	float: left;
	margin-right: 10px;
}

.list-wrap .cellNum:after {
	display: table;
	content: " ";
	clear: both;
}

.list-wrap .cellNum .mui-col-xs-4 {
	float: left;
	text-align: left;
	border-left-width: 0;
	border-right-width: 0;
	line-height: 20px;
	font-size: 12px;
	height: 20px;
}

.list-wrap .cellNum .num-center {
	border-right: solid 1px #f3f3f3;
	border-left: solid 1px #f3f3f3;
}

.comp-wrap .mui-table-view-cell {
	padding: 3px 8px 5px;
}

.comp-wrap.mui-content>.mui-table-view:first-child {
	margin-top: 11px;
}

.comp-wrap .mui-table-view-cell.mui-active {
	background-color: #fff;
}

.comp-wrap .mui-media-object {
	width: 81px;
	height: 81px;
	max-width: 80px;
	position: relative;
}

.comp-wrap .comp-wrap-logo {
	width: 81px;
	height: 81px;
	padding: 5px;
	border: solid 1px #c8c7cc;
}

.comp-wrap .comp-wrap-logo img {
	width: 69px;
	height: 42px;
	margin-top: 13px;
	vertical-align: middle;
}

.comp-wrap .corner {
	width: 70px;
	height: 70px;
	position: absolute;
	right: 0;
	top: 0;
}

.comp-wrap span.mui-ellipsis {
	display: block;
}

.comp-wrap p.mui-ellipsis {
	font-size: 12px;
}

.comp-wrap .mui-table-view:before {
	height: 0;
}

.comp-wrap .mui-table-view-cell:after,
.comp-wrap .mui-table-view:after {
	height: 0;
}

.comp-wrap .cellNum:after {
	display: table;
	content: " ";
	clear: both;
}

.comp-wrap .cellNum .mui-col-xs-4 {
	float: left;
	text-align: center;
	border: dashed 1px #c8c7cc;
	border-left-width: 0;
	border-right-width: 0;
	line-height: 25px;
}

.comp-wrap .cellNum .num-center {
	border: dashed 1px #c8c7cc;
}

.comp-slider-wrap span.comp-msg-icon {
	position: relative;
}

.comp-slider-wrap .comp-msg-icon .comp-badge {
	font-size: 9px;
	line-height: 1.2;
	position: absolute;
	top: 0;
	margin-left: -5px;
	padding: 4px 2px 1px 2px;
	color: #fff;
	background: red;
	border-radius: 100px;
}

.table-wrap table {
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

.table-wrap table td {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	line-height: 28px;
	padding: 0 3px;
	font-size: 12px;
}

.table-wrap table td div {
	width: 100%;
	word-break: break-all;
}

.videomenudiv {
	font-size: 13px;
	margin: 10px;
	border: 1px solid #f3f3f3;
}

.intro-wrap .md-intro {
	text-indent: 2em;
	word-break: break-word;
	line-height: 22px;
	white-space: normal;
	margin: 8px 3px;
}

.intro-wrap .md-intro img {
	width: 95%;
	margin-left: -18px;
}

.news-wrap a.time {
	position: relative;
	width: 100px;
}

.news-wrap a.title {
	overflow: hidden;
	padding: 10px 0;
	line-height: 24px;
}

.dropdown i {
	width: 0;
	height: 0;
	border-width: 7px;
	border-style: solid;
	border-color: #ccc transparent transparent transparent;
	margin-top: 10px;
	float: right;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
	background-color: #f7f7f7;
}

.mui-input-group .mui-input-row:last-child:after {
	height: 0;
}

.mui-input-group .mui-input-row .row_content {
	float: left;
	/* line-height: 36px;*/
	padding-top: 8px;
	color: #666;
}

.mui-input-group .mui-input-row .multi_content {
	float: left;
	padding-top: 8px;
	color: #666;
	padding-bottom: 8px;
}

.mui-input-group .mui-input-row {
	min-height: 40px;
	height: auto;
}

.mui-input-group .mui-input-row select {
	font-size: 13px;
}

.mui-input-row .lab {
	color: #666;
}

.mui-input-row .md_checkbox {
	float: left;
	margin-left: -20px;
}

.color_black {
	color: #333 !important;
}

.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 800;
}

.mui-bar~.mui-pull-top-tips {
	top: 24px;
}

.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
	-webkit-backface-visibility: hidden;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
	-webkit-transform: rotate(180deg) translateZ(0);
}

.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.mui-pull-top-canvas canvas {
	width: 40px;
}

.mui-slider-indicator.mui-segmented-control {
	background-color: #efeff4;
}

.md-intro {
	text-indent: 2em;
	word-break: break-word;
	font-size: 16px;
	line-height: 22px;
	white-space: normal;
	margin: 8px 3px
}

.mui-pull-bottom-tips {
	background-color: transparent;
	font-size: 12px;
	text-align: center;
	color: #888;
	padding: 3px 0
}