html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

* {
	-webkit-user-select: none;
	-webkit-touch-callout:none;  /*系统默认菜单被禁用*/  
    -webkit-user-select:none; /*webkit浏览器*/  
    -khtml-user-select:none; /*早期浏览器*/  
    -moz-user-select:none;/*火狐*/  
    -ms-user-select:none; /*IE10*/  
    user-select:none;
}

.search-panel {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 8000;
	display: none;
}

 
/**
 * 头部菜单部分
 * **/

a.mui-action-back {
	color: #000000;
}

.mui-bar-nav {
	background-color: #FFFFFF;
}

.mui-bar-nav .mui-title,
.mui-bar-nav .mui-icon {
	color: #323232;
}

header span.chat-name {
	color: #323232;
	font-size: 15px!important;
	position: relative;
	padding: 0px!important;
}

header .icon-more {
	top: 2px
}

.search-box {
	padding-top: 54px;
	padding-left: 10px;
	padding-right: 10px;
	background: #EFEFEF;
	height: 30px;
	width: 100%;
	position: relative;
}

.search-box .search-body,
.search-box .search-placeholder {
	background: #fff;
	border-radius: 4px;
	height: 30px;
	line-height: 32px;
	font-size: 14px;
}

.search-box .search-body,
.search-box.is-searching .search-placeholder {
	display: none;
}

.search-box.is-searching .search-body {
	display: block;
}

.search-box .search-body {
	position: relative;
}

.search-box .search-placeholder {
	text-align: center;
	color: #ccc;
}

.search-box .search-placeholder .mui-icon-search {
	font-size: 18px;
	margin-left: 3px;
}

.search-box .search-body input {
	background: transparent;
	border: none;
	height: 30px;
	margin: 0;
	padding: 0 60px 0 10px;
	font-size: 14px;
}

.search-box .search-body .mui-icon-search {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0 5px;
	line-height: 30px;
	font-size: 18px;
	color: #666666;
}

.search-box .search-body .mui-icon-clear {
	position: absolute;
	top: 0;
	right: 28px;
	bottom: 0;
	padding: 0 5px;
	line-height: 30px;
	font-size: 18px;
	color: #666666;
}


/**
 * 聊天内容部分
 * **/

.mui-scroll-wrapper {
	padding-top: 10px;
	top: 44px;
	bottom: 0px;
	padding-bottom: 15px;
	background: #EFEFEF;
	z-index: 200;
	position: absolute;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
}


/**
 * 公用样式
 * **/

.mui-right {
	float: right!important;
}


/**
 * 聊天内容
 * **/


/**
 * 聊天内容
 * **/

.msg-item {
	padding: 8px;
	clear: both;
	padding-top: 10px;
}
.msg-item:after {
	content: " ";
	display: block;
	clear: both;
}

.msg-item .attach-process 
{
	height:2px;
	position: absolute;
	bottom:-5px;
	left:10px;
	right:10px;
}

.msg-item:first-child {
	padding-top: 0px;
}

.msg-item .time-split {
	text-align: center;
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
}

.msg-item .time-split span {
	font-size: 13px;
	margin: 0 auto;
	color: #999999;
	padding: 2px 2px 0px 2px;
	border-radius: 2px;
}

.msg-item .mui-item-clear {
	clear: both;
}

.msg-item .msg-user {
	width: 38px;
	height: 38px;
	border: solid 1px #d3d3d3;
	display: inline-block;
	background: #fff;
	border-radius: 3px;
	vertical-align: top;
	text-align: center;
	float: left;
	padding: 3px;
}

.msg-item .msg-user-img {
	width: 50px;
	height: 50px;
	display: block;
	border-radius: 50%;
	vertical-align: top;
	text-align: center;
	float: left;
	/*background-size: 50px;*/
	background-size: cover;
}

.msg-item .msg-content-angle {
	font-family: "iconfont" !important;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.msg-item .msg-content {
	display: inline-block;
	border-radius: 8px;
	/*border: solid 1px #cccccc;*/
	background-color: #FFFFFF;
	color: #323232;
	padding: 12px 9.5px 0px 9.5px;
	vertical-align: top;
	font-size: 14px;
	position: relative;
	margin: 6px 0px 0px 20px;
	max-width: calc(95% - 75px);
	min-width: 35px;
	min-height: 36px;
	float: left;
	box-sizing: border-box;
}

.msg-item .msg-content .msg-content-inner {
	overflow-x: hidden;
	margin-bottom: 10px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}


.msg-item .msg-content .msg-content-inner *
{
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.msg-item .msg-content .msg-content-inner img {
	/*max-height: 30%;*/
	max-width: 100%;
}

.msg-item .msg-content .msg-content-arrow {
	position: absolute;
	border: solid 1px #d3d3d3;
	border-right: none;
	border-top: none;
	background-color: #FFFFFF;
	width: 10px;
	height: 10px;
	left: -6px;
	top: 12px;
	-webkit-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
}

.msg-item-self .msg-user,
.msg-item-self .msg-content {
	float: right;
}

.msg-item-self .msg-content .msg-content-arrow {
	left: auto;
	right: -16px;
	-webkit-transform: rotateZ(225deg);
	transform: rotateZ(225deg);
}

.msg-item-self .msg-content,
.msg-item-self .msg-content .msg-content-arrow {
	/*background-color: #4CD964;
	color: #fff;
	border-color: #2AC845;*/
	/*background-color: #a0e75a;
	color: #333;
	border-color: #a0e75a;*/
	margin: 6px 20px 0px 0px;
}

.msg-item-chat .msg-content {
	border-top-left-radius: 0px;
}

.msg-item-chat .msg-content-angle:before {
	content: "\e630";
	position: absolute;
	left: -14px;
	top: -3px;
	background: #EFEFEF;
	color: #fff;
}

.msg-item-self .msg-content-angle:before {
	content: "\e631";
	position: absolute;
	right: -14px;
	top: -3px;
	background: #EFEFEF;
	color: #fff;
}

.msg-item-self .msg-content {
	border-top-right-radius: 0px;
}

.content-exp {
	position: absolute;
	top: 8px;
	left: -25px;
}

.chatFace {
	height: 20px;
	margin-top: -5px;
	vertical-align: middle;
	margin-right: 5px;
}

.msg-content .chatFace {
	margin-top: 0px;
}

.mui-preview-image.mui-fullscreen {
	z-index: 500020;
	top: 0px;
	bottom: 0px;
}

.mui-preview-header,
.mui-preview-footer {
	z-index: 500010;
}

.voice-item {
	position: relative;
	display: inline-block;
	min-width: 50px;
	max-width: 100%;
}

.voice-item img {
	position: relative;
	width: 18px;
	top: 2px;
	right: 0px;
	float: right;
	margin-right: 5px;
}

.voice-item span {
	position: absolute;
	top: 1px;
}

.msg-item-self .voice-item span {
	position: absolute;
	top: 1px;
	right: 30px;
}

.msg-item-chat .voice-item img {
	float: left;
	margin-left: 5px;
}

.msg-item-chat .voice-item span {
	left: 30px;
}

.msg-item-self .content-voice {
	padding: 10px 0px 0px 10px!important;
}

.msg-item-chat .content-voice {
	padding: 10px 10px 0px 0px!important;
}

.content-voice .msg-content-inner {
	margin-bottom: 8px!important;
}

.content-event {
	padding: 10px 10px 0px 10px!important;
	width: calc(95% - 75px);
	;
}

.content-event .msg-content-inner {
	margin-bottom: 10px!important;
}

.content-event .ev-item img {
	float: left;
	/*max-width: 40%!important;*/
	width: 65px;
	margin-right: 10px;
	background: cover;
	height: 65px;
	max-height: none!important;
	background-size: cover;
}

.content-event .ev-item .left-img {
	float: left;
	width: 65px;
	height: 65px;
	background-size: cover!important;
	margin-right: 10px;
	border-radius: 6px;
}

.content-event .ev-item {
	/*margin-left: 68px;*/
	white-space: normal!important;
}
.content-event .ev-item .ev-body
{
	margin-left:75px;
}
.content-event .ev-item .ev-body .ev-title {
	font-size: 16px;
	color: #323232;
	display: -webkit-box;
	overflow: hidden;
	white-space: normal !important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.content-event .ev-item .ev-body .ev-desc {
	font-size: 14px;
	color: #888888;
	line-height: 17px;
	margin-top: 5px;
	display: -webkit-box;
	overflow: hidden;
	white-space: normal !important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.content-event .ev-item .ev-body .ev-attach-desc {
	font-size: 14px;
	color: #888888;
	line-height: 17px;
	margin-top: 5px;
}

.content-event .ev-item .ev-body .ev-attach-desc .attach-isdown {
	float: right;
}

.content-event .md-userCustomLogo {
	float: left;
    height: 65px;
    width: 65px;
    line-height: 65px;
    margin-right: 8px;
    font-size: 3.4rem;
}

.content-attach {
	padding: 10px 10px 0px 10px!important;
	width: calc(95% - 75px);
}

.content-attach .msg-content-inner {
	margin-bottom: 10px!important;
}

.content-attach .attach-item img {
	float: left;
	/*max-width: 40%!important;*/
	width: 65px;
	margin-right: 10px;
	background: cover;
	height: 65px;
	max-height: none!important;
	background-size: cover;
}

.content-attach .attach-item .left-img {
	float: left;
	width: 65px;
	height: 65px;
	background-size: cover!important;
	margin-right: 10px;
	border-radius: 6px;
}

.content-attach .attach-item {
	/*margin-left: 68px;*/
	white-space: normal;
	white-space: normal!important;
}

.content-attach .attach-item .attach-body .attach-title {
	font-size: 16px;
	height: 42px;
	color: #323232;
	display: -webkit-box;
	overflow: hidden;
	white-space: normal !important;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.content-attach .attach-item .attach-body .attach-desc {
	font-size: 14px;
	color: #888888;
	line-height: 17px;
	margin-top: 5px;
}

.content-attach .attach-item .attach-body .attach-desc .attach-isdown {
	float: right;
}

.msg-content-memberName{
	display: inline-block;
    margin: -2px 0px 0px 8px;
    width: calc(95% - 75px);
    float: left;
    font-size: 13px;
    color: #999;
}
.msg-content-memberName-right
{
	float:right;
	text-align: right;
	margin: -2px 8px 0px 0px;
}


.msg-item-tips
{
	text-align: center;
}
.msg-item-tips p
{
	background: #ccc;
	display:inline-block;
	font-size: 12px;
	padding: 5px 10px;
    border-radius: 20px;
}

.msg-item-tips span.user-name{
	color:#3296fa;
	padding-right: 5px;
}
.msg-item-tips span.nomarl{
    color: #fff;
}
.at-text
{
	color:#3296fa;
}