.mui-off-canvas-right {
	background: #fff;
}

.mui-off-canvas-right .header-nav {
	height: 30px;
	background: #EFEFEF;
	color: #999999;
	line-height: 30px;
	font-size: 1.4rem;
	padding-left: 15px;
	font-family: MicrosoftYaHei;
}

.mui-off-canvas-right .mui-scroll-wrapper {
	top: 30px;
}

.nav-dir {
	width: 62px;
	height: 25px;
	position: fixed;
	top: 38%;
	right: 0px;
	color: #FFFFFF;
	z-index: 600;
	background: rgba(50, 150, 250, 0.8);
	border-radius: 30px 0px 0px 30px;
}

.nav-dir .mui-icon {
	font-size: 1.3rem;
	top: 7px;
	left: 10px;
	position: absolute;
}

.nav-dir .dir-name {
	position: absolute;
	right: 10px;
	top: 3px;
	font-size: 1.3rem;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view.mui-grid-view {
	margin-top: 8px;
	padding: 0;
	background: none;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view:before,
.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view:after {
	height: 0;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view.mui-grid-view .mui-table-view-cell {
	padding: 0 0 5px 0;
	margin-right: 0;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view.mui-grid-view .mui-table-view-cell:nth-child(odd) {
	padding-right: 2.5px;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view.mui-grid-view .mui-table-view-cell:nth-child(even) {
	padding-left: 2.5px;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view .mui-table-view-cell .imgbox {
	height: 150px;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view.mui-grid-view .mui-table-view-cell .imgbox .mui-media-object {
	max-height: 100%;
	border: none;
	background-color: #fff;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {
	border-top: 1px solid #ECECEC;
	margin: 0;
	padding: 10px 5px 15px 5px;
	height: 85px;
	position: relative;
	background: #fff;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body .prod-name {
	font-size: 1.3rem;
	color: #323232;
	text-align: left;
	line-height: 15px;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body .prod-price {
	text-align: left;
	color: #DC0000;
	position: absolute;
	bottom: 15px;
	left: 4px;
	font-size: 1.4rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	right: 4px;
	overflow: hidden;
	line-height: 16px;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body .prod-price .icon {
	font-size: 1.0rem;
}

.mui-inner-wrap .mui-scroll-wrapper .mui-scroll .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body .prod-price .price {
	font-size: 1.6rem;
}


/*.empty-list {
	margin: 80px 0 0;
	text-align: center;
}*/

.mui-off-canvas-wrap {
	overflow-y: auto;
	height: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.mui-off-canvas-left,
.mui-off-canvas-right {
	width: 62%;
	position: fixed;
}

.mui-off-canvas-wrap.mui-active .mui-off-canvas-backdrop {
	position: fixed;
}

.nav-body {
	position: absolute;
	overflow: auto;
	top: 30px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}


/*目录*/

.md-tree-node {
	color: #333333;
	padding-left: 15px!important;
	white-space: nowrap;
}

.md-tree-node .md-tree-node-template {
	padding: 2px 5px !important;
}


/*+*/

.md-tree-node .md-tree-node-more {
	left: 15px!important;
	padding-top: 2px!important;
}

.md-tree-node .md-tree-node-line.line-vertical {
	left: 21px!important;
	height: 13px!important;
}


/*横线*/

.md-tree-node .md-tree-node-line.line-transverse {
	top: 16px!important;
	width: 11px!important;
}

.md-tree-node .md-tree-node-line.line-transverse.line-transverse-leaf {
	width: 22px!important;
}


/*竖线*/

.md-tree-node .md-tree-node-line.line-vertical-top {
	height: 17px!important;
}


/* 点 */

.md-tree-node .md-tree-node-leaf {
	left: 24px!important;
}

.level0 {
	font-size: 1.5rem;
}

.catalog-line {
	text-align: center;
	margin-top: 44px;
	height: 80px;
}

.catalog-box {
	background: #FFFFFF;
	text-align: center;
	border-bottom: 1px solid #f0f0f0;
}

.catalog-name {
	font-size: 1.4rem;
	border-right: 1px solid #f0f0f0;
	min-height: 40px;
	line-height: 40px;
}

.catalog-name-sel {
	color: #3296FA;
}