<!DOCTYPE html>
<html id="MdTong">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../icon-font/iconfont.css">
		<style type="text/css">
			.mui-content {
				background-color: transparent;
			}
			
			.imgslist {
				float: left;
				width: 56px;
				height: 56px;
				background-size: cover!important;
			}
			
			.skuSearchList {
				/*padding-top: 5px;*/
				border-top: 1px solid #EEE;
			}
			
			.mui-table-view {
				margin-top: 8px!important;
			}
			
			.mui-table-view:before {
				height: 0px!important;
			}
		</style>
	</head>

	<body ng-controller="searchMatPart">
		<!--<div id="pullrefresh" class="mui-scroll-wrapper" style="display: none;" ng-class="{'mui-block':domShow}">
			<div class="mui-content">-->
		<div ng-class="{'mui-block':domShowX}" style="display: none;">
			<div class="search_input">
				<form ng-submit="search.doSearch()">
					<a class="mui-action-back mui-icon icon-back mui-pull-left"></a>
					<input type="search" placeholder="请输入产品名称" maxlength="50" ng-model="search.text">
					<i class="icon-search-thin color-gray-dark"></i>
					<i class="icon-delete color-gray" ng-click="search.deleteSearch()" ng-show='search.text'></i>
					<span ng-click="search.doSearch()">搜索</span>
				</form>
			</div>
			<div class="search_group" ng-if="domShow===false">
				<div class="content">
					<span ng-repeat="h in search.history" ng-bind="h" ng-click="search.searchSpan(h)"></span>
				</div>
			</div>
			<div id="pullrefresh" class="mui-fullscreen" style="display: none;top:40px" ng-class="{'mui-block':domShow}">
				<div class="mui-content">
					<div class="skuSearchList">
						<md-prod-lib-list ng-model="searchData" state="state" type="'search'"></md-prod-lib-list>
					</div>
				</div>
			</div>
			<md-no-data ng-show="searchData && searchData.length==0" data-options="{type:'search'}">暂无数据</md-no-data>
		</div>
		<script src="../../js/angular.min.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/utils.js"></script>
		<script type="text/javascript" src="../../js/rpc.js"></script>
		<script type="text/javascript">
			app.controller("searchMatPart", ["$scope", "ApiService", "AuthService", "CacheService", "DataService", "UtilsService", "Loading", "$timeout", function($scope, ApiService, AuthService, CacheService, DataService, UtilsService, Loading, $timeout) {
				$scope.domShow = null;
				$scope.searchData = null; //接口返回的所有维修
				$scope.state = query('state');
				$scope.isall = query("isall");
				$scope.domShowX = false; //控制x显示

				$scope.pageIndex = 0; //页数
				$scope.pageSize = 20; //每页数量
				var networkCanUse = true;
				var kw = plus.webview.currentWebview();
				var keywords = kw.keywords;
				var userId = "";
				AuthService.getAuth().then(function(res) {
					userId = res.UserID;
					if(keywords != undefined && keywords != '') {
						$scope.search.text = keywords;
						setTimeout($scope.search.doSearch, 200);
					} else {
						//弹出键盘
						showInput();
						$scope.domShow = false;
					}
					$scope.search.getHistory();
				});

				$scope.search = {
					text: "",
					history: [],
					getHistory: function() {
						var temp = CacheService.get(userId + "sku_type_search");
						if(temp)
							$scope.search.history = CacheService.get(userId + "sku_type_search");
						$scope.domShowX = true;
					},
					doSearch: function() {
						$scope.search.text = document.querySelector("input").value.trim();
						if(!$scope.search.text) {
							mui.toast("请输入产品名称！");
							return;
						}
						$scope.searchData = null;
						$scope.domShow = null; //控制列表显示
						Loading.show();
						//关闭键盘
						document.activeElement.blur();

						var idx = $scope.search.history.indexOf($scope.search.text);
						if(idx >= 0) {
							$scope.search.history.splice(idx, 1);
						}
						//存储本地cach
						if($scope.search.history.length == 10) {
							$scope.search.history.splice(9, 1);
						}

						$scope.search.history = [$scope.search.text].concat($scope.search.history);

						CacheService.set(userId + "sku_type_search", $scope.search.history, true);
						//开启上拉事件
						mui('#pullrefresh').pullRefresh().enablePullupToRefresh();

						$scope.pageIndex = 0;
						mui('#pullrefresh').pullRefresh().refresh(true);
						mui("#pullrefresh").pullRefresh().pullupLoading();
					},
					//点击历史span搜索
					searchSpan: function(eqIdentifier) {
						$scope.search.text = eqIdentifier;
						$timeout(function() {
							$scope.search.doSearch();
						}, 100)
					},
					//点击搜索x
					deleteSearch: function() {
						$scope.search.text = '';
						$scope.domShow = false;
						$scope.domShowHistory = true;
						mui("#pullrefresh").pullRefresh().endPullupToRefresh(true);
					}
				};

				//				function pullupRefresh() {
				//					var url = ApiService.Api50 + "/api/v1/Prod/GetMdtPagedPkgInfoList?pageIndex=1&pageSize=9999&prodName=" + encodeURIComponent($scope.search.text);
				//					DataService.get(url).then(function(res) {
				//						$scope.searchData = res.DataRows;
				//						$scope.domShowHistory = false;
				//						Loading.hide();
				//					}, function() {
				//						Loading.hide();
				//					});
				//				};

				function pullupRefresh() {
					var url = ApiService.Api50 + "/api/v1/Prod/GetMdtPagedPkgInfoList?pageIndex=" + $scope.pageIndex + "&pageSize=" + $scope.pageSize + "&prodName=" + encodeURIComponent($scope.search.text);
					DataService.get(url).then(function(res) {
						Loading.hide();
						$scope.domShow = true;
						($scope.searchData == null) && ($scope.searchData = []);
						$scope.searchData = $scope.searchData.concat(res.DataRows);

						var isEnd = $scope.searchData.length >= res.TotalCount;
						if(mui("#pullrefresh").pullRefresh()) {
							mui('#pullrefresh').pullRefresh().endPullupToRefresh(isEnd);
						}
						var tip = document.querySelector('.mui-pull-bottom-pocket');
						if(tip) {
							if($scope.searchData.length == 0) {
								tip.classList.contains('mui-visibility') && tip.classList.remove('mui-visibility');
								tip.classList.contains('mui-block') && tip.classList.remove('mui-block');
							} else {
								!tip.classList.contains('mui-visibility') && tip.classList.add('mui-visibility');
								!tip.classList.contains('mui-block') && tip.classList.add('mui-block');
							}
						}
					}, function() {
						$scope.domShow = true;
						networkCanUse = false;
						if(mui("#pullrefresh").pullRefresh()) {
							setTimeout(function() {
								mui("#pullrefresh").pullRefresh().endPullupToRefresh();
							}, 800)
						}
					})
				}

				//上拉加载
				function uppullRefresh() {
					if(networkCanUse) {
						$scope.pageIndex++; //页数
					}
					pullupRefresh();
				};

				//下拉刷新,上拉加载
				setTimeout(function() {
					mui.init({
						pullRefresh: {
							container: '#pullrefresh',
							up: {
								callback: uppullRefresh
							},
						}
					});
					setTimeout(function() {
						//没有搜索的时候禁用上拉事件
						mui('#pullrefresh').pullRefresh().disablePullupToRefresh();
					}, 50);
				});
			}]);

			mui.plusReady(function() {
				angular.bootstrap(document.getElementById("MdTong"), ["MdTong"]);
				plus.webview.currentWebview().setStyle({
					scrollIndicator: 'none'
				});
			});
		</script>
	</body>

</html>