.dataPick {
	line-height: 48px;
	font-size: 14px;
}

.quanguo {
	font-size: 1.2rem;
	padding-right:0px!important;
	position: relative;
	z-index: 20000;
}


.redpointer {
	display: block;
	background: #EA3535;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	top: 18px;
	right: 33px;
	position: absolute;
}

#delPro {
	position: absolute;
	right: 18px;
    top: 0px;
	height: 31px;
	line-height: 31px;
	color: rgb(50, 150, 250);
}

.map_container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.map_container #map {
	position: absolute;
	top: 35px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.map_container .map_days {
	position: absolute;
	bottom: 10px;
	right: 10px;
	background: rgba(255, 255, 255, 0.8);
	width: 100px;
	height: 30px;
	border-radius: 7px;
	z-index: 999;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	font-size: 12px;
	line-height: 31px;
	text-align: center;
}

.map_container .openSysMap {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: rgba(255, 255, 255, 0.8);
	width: 70px;
	height: 30px;
	border-radius: 7px;
	z-index: 999;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	font-size: 12px;
	line-height: 31px;
	text-align: center;
}

.map_container .map_days .icon-zuo {
	padding: 0px 0px 10px 10px;
	position:absolute;
	top:0px;
	left:0px;
}

.map_container .map_days .icon-you {
	padding: 0px 10px 10px 0px;
	position:absolute;
	top:0px;
	right:0px;
}

.day-pick {
	background: rgba(0, 0, 0, 0.51);
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 9999999;
}
.day-pick .pick-body
{
	height: auto;
	background: #fff;
	width: 89%;
	border-left: 1px solid #ECECEC;
    border-top: 1px solid #ececed;
    margin: 0 auto;
	margin-top:40%;
    
}
.day-pick .pick-body:after{
	content: '';
	clear: both;
}

.day-pick .pick-body .item-row
{
	float:left;
	width: 80px;
	text-align: center;
	line-height: 40px;
	height: 40px;
	box-sizing: border-box;
	    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ececed;
}
.day-pick .pick-body .item-selected
{
	background: #88B2F6;
	color: #fff;
}

.map_tools
{
	position: absolute;
	top: 10px;
	left: 10px;
	background: rgba(255, 255, 255, 0.8);
	width: 150px;
	display:inline-block;
	border-radius: 7px;
	z-index: 999;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
	font-size: 12px;
	line-height: 31px;
	text-align: center;

}

.map_tools .data-group
{
	margin-top:0px;
	border-radius: 7px;
	font-size: 12px!important;
	background-color: transparent;
}

.map_tools .data-group .data-row{
	min-height: 30px;
}

.map_tools .data-group a{
	font-size: 12px!important;
}

.map_tools .data-group .data-row .body{
	padding: 8px 10px 8px 10px;
    line-height: 15px;
}

.map_tools .data-group .data-row .opt{
	font-size:16px;
}

.map_tools .data-group .data-row .icon-zuo{
	padding: 9px 5px;
	position: absolute;
	left: 0px;
	top:0px;
}

.map_tools .data-group .data-row .icon-you{
	padding: 9px 5px ;
	position: absolute;
	right: 0px;
	top:0px;
}

.map_tools .data-group .data-row:after
{
	right:0px;
	left: 0px;
}

.map_tools .data-group .data-row .opt
{
	padding: 0px 5px 0px 15px;
}

.map_tools .data-group .data-row .opt~.body
{
	margin-right: 30px;
}
.data-group .data-row .body>p
{
	line-height: inherit;
}

.text-left
{
	text-align: left;
}

.md-modal
{
	z-index: 9999!important;
}


.scan-info {
	background: rgba(0, 0, 0, 0.51);
	position: fixed;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 999999;
}
.scan-body
{
	background:#fff;
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	display: inline-block;
	min-height: 100px;
}


.scan-info-btns{
	padding-left:0px!important;
	display: flex!important;
	padding: 0px!important;
    height: 40px;
    line-height: 40px;
    margin: 0px!important;
}
.scan-info-btns .scan-log
{
	width:49.5%;
	text-align: center;
}
.scan-info-btns .scan-track
{
	width:49.5%;
	text-align: center;
}
.scan-info-btns .lines{
	width: 1px;
	height: 20px;
	position: relative;
	margin-top: 10px;
}
.scan-info-btns .lines:after{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #cacaca;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}


	
#slider2 {
	padding-top: 0px!important;
	background: #ffffff;
	height: 35px;
}
.mui-slider .mui-scroll-wrapper {
	padding-right: 15px!important;
}

.mui-slider .mui-segmented-control.mui-scroll-wrapper .mui-scroll {
	height: 35px;
	line-height: 35px;
}

.mui-slider .mui-segmented-control.mui-scroll-wrapper .mui-scroll a {
	margin-left: 15px;
	font-size: 12px;
	height: 35px;
	display: table-cell;
	line-height: 35px;
	padding: 0px 0px 0px 15px;
}

.mui-slider .mui-segmented-control.mui-scroll-wrapper .mui-scroll a i.icon-down {
	font-size: 8px;
	margin-left: 3px;
}

