<!DOCTYPE html>
<html id="MdTong">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="../../css/mui.min.css" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../work/contact-common.css"/>
		<link rel="stylesheet" href="../../icon-font/iconfont.css" />
		<link rel="stylesheet" href="supermarket.css"/>
		<title></title>
	</head>
	<body ng-controller="findController">
		<!--header-->
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon icon-back mui-pull-left">备品备件超市</a>
		</header>
		<!--搜索框部分-->
		<div class="search-box top44">
			<div class="search-body">
				<span class="mui-icon mui-icon-search" method="search"></span>
			</div>
			<div class="search-placeholder" ng-click="doSearchUser()">
				<i class="mui-icon mui-icon-search"></i>
				<span class="placeholder">搜索</span>
			</div>
		</div>
		<!--内容列表-->
		<div class='contentbox'>
			<div class="deviceshop-list">
				<div class="deviceshop-box">
					<div class="company-logo"></div>
					<div class="conpany-intro">
						<div class="conpany-name">上海比迪工业铝型材配件有限公司</div>
						<div class="company-mark">
							<span class="certified-enterprise"></span>
							<span class="md-recommend"></span>
						</div>
						<div class="company-product">
							<span>气动控制组件</span>
							<span>气动控制组件</span>
						</div>
					</div>
				</div>
			</div>
			<div class="deviceshop-list">
				<div class="deviceshop-box">
					<div class="company-logo"></div>
					<div class="conpany-intro">
						<div class="conpany-name">上海比迪工业铝型材配件有限公司</div>
						<div class="company-mark">
							<span class="certified-enterprise"></span>
							<span class="md-recommend"></span>
						</div>
						<div class="company-product">
							<span>气动控制组件</span>
							<span>气动控制组件</span>
						</div>
					</div>
				</div>
			</div>
			<div class="deviceshop-list">
				<div class="deviceshop-box">
					<div class="company-logo"></div>
					<div class="conpany-intro">
						<div class="conpany-name">上海比迪工业铝型材配件有限公司</div>
						<div class="company-mark">
							<span class="certified-enterprise"></span>
							<span class="md-recommend"></span>
						</div>
						<div class="company-product">
							<span>气动控制组件</span>
							<span>气动控制组件</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="btn-submit">
			<span class="mui-btn mui-btn-primary mui-btn-block" ng-click="companySettleIn()">我要入驻</span>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/angular.min.js"></script>
		<script src="../../js/common.js"></script>
		<!--<script src="../../js/rpc.js"></script>-->
		<script src="find.js"></script>
	</body>
</html>

