.mui-pull-top-tips {
	width: 100%;
	padding-top: 8px;
	padding-top: 8px;
	position: absolute;
	top: 0px;
	z-index: -1;
	text-align: center;
	color: #777;
	font-weight: 700;
	font-size: 15px;
}

.mui-pull-top-wrapper {
	width: 100%;
	display: block;
	text-align: center;
	background-clip: padding-box;
	overflow: hidden;
}

.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}

.mui-pull-top-tips .mui-pull-loading {
	margin: 0;
}

.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}

.mui-pull-top-wrapper .mui-icon.mui-reverse {
	/*-webkit-transform: rotate(180deg) translateZ(0);*/
}

.mui-pull-bottom-wrapper .mui-spinner {
	position: relative;
	top: 7px;
	margin-right: 7px;
}

.mui-pull-bottom-tips {
	text-align: center;
	font-size: 15px;
	line-height: 40px;
	color: #777;
	font-weight: 700;
}

.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}

.mui-pull-top-canvas canvas {
	width: 40px;
}