<!doctype html>
<html id="MdTong">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../icon-font/iconfont.css" />
		<link rel="stylesheet" href="add-staff.css" />
	</head>

	<body ng-controller="AddStaffController">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon icon-back mui-pull-left">添加员工</a>
		</header>
		<div class="mui-content">
			<ul class="data-group">
				<li class="data-row must">
					<label class="label-gray">账号</label>
					<p class="opt md-icon">
						<span ng-bind="'@'+CompMdt"></span>
					</p>
					<div class="body" style="margin-right: 100px;">
						<input ng-keyup="checkRate()" maxlength="20" id="mdt" ng-model="newEmployee.UserName" type="text" placeholder="请输入账号" />
					</div>
				</li>
				<li class="data-row must">
					<label class="label-gray">姓名</label>
					<div class="body">
						<input maxlength="20" id="realname" ng-model="newEmployee.RealName" type="text" placeholder="请输入员工姓名" />
					</div>
				</li>
				<li class="data-row" ng-click="selectSex()">
					<label class="label-gray">性别</label>
					<p class="opt md-icon">
						<span class="icon-right"></span>
					</p>
					<div class="body">
						<span ng-if="newEmployee.Sex==0" class="placeholder">请选择性别</span>
						<span ng-if="newEmployee.Sex!=0" ng-bind="newEmployee.Sex==1?'男':'女'"></span>
					</div>
				</li>
				<li class="data-row must">
					<label class="label-gray">手机号</label>
					<div class="body">
						<input maxlength="30" id="phone" ng-model="newEmployee.Phone" type="text" placeholder="请输入手机号" />
					</div>
				</li>
				<li class="data-row">
					<label class="label-gray">邮箱</label>
					<div class="body">
						<input maxlength="32" id="email" ng-model="newEmployee.EMail" type="text" placeholder="请输入邮箱" />
					</div>
				</li>
				<li class="data-row" ng-click="selectOrgs()">
					<label class="label-gray">部门</label>
					<p class="opt md-icon">
						<span class="icon-right"></span>
					</p>
					<div class="body">
						<span ng-if="OrgList&&OrgList.length==0" class="placeholder">请选择部门</span>
						<span ng-bind="OrgName"></span>
						<!--<span ng-repeat="org in OrgList" ng-bind="$index==0?org.OrgName:' > '+org.OrgName"></span>-->
					</div>
				</li>
				<li class="data-row">
					<label class="label-gray">职务</label>
					<div class="body">
						<input maxlength="30" id="duty" ng-model="newEmployee.Duty" type="text" placeholder="请输入职务" />
					</div>
				</li>
			</ul>
			<div class="btn-submit" ng-click="addPerson()">
				<span class="mui-btn mui-btn-primary mui-btn-block">保存</span>
			</div>
		</div>
		<script type="text/javascript" src="../../js/mui.min.js"></script>
		<script type="text/javascript" src="../../js/angular.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../js/utils.js"></script>
		<script type="text/javascript" src="../../js/rpc.js"></script>
		<script>
			app.controller("AddStaffController", ["$scope", "ApiService", "DataService", "UtilsService", "CacheService", "Loading", function($scope, ApiService, DataService, UtilsService, CacheService, Loading) {
				var user = CacheService.get('user');
				var ws = plus.webview.currentWebview();
				ws.navDirData.splice(0, 1);
				$scope.CompMdt = user.CompMdt;
				$scope.OrgList = ws.navDirData;
				//新增员工数据
				$scope.newEmployee = {
					"UserID": 0,
					"UserName": "",
					"RealName": "",
					"Sex": 0,
					"Phone": "",
					"EMail": "",
					"Duty": "",
					"Guid": "",
					"OrgID": ws.navDirData.length > 0 ? ws.navDirData[ws.navDirData.length - 1].ID : 0
				};
				$scope.OrgName = ws.navDirData.length > 0 ? ws.navDirData[ws.navDirData.length - 1].OrgName : "";
				init();
				//初始化
				function init() {};

				//判断字符串是否为数字和字母组合
				$scope.checkRate = function() {
					var re = /^[0-9a-zA-Z]*$/g;
					if(!re.test($scope.newEmployee.UserName)) {
						mui.toast("账号只能输入数字和字母");
						$scope.newEmployee.UserName = $scope.newEmployee.UserName.replace(/[^0-9a-zA-Z]/g, '');
						return false;
					} else {
						return true;
					}
				};
				//验证手机号
				$scope.isMobile = function(value) {
					var validateReg = /^((\+?86)|(\(\+86\)))?1\d{10}$/;
					return validateReg.test(value);
				};
				//验证邮箱
				$scope.isEmail = function(value) {
					//var validateReg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
					var validateReg = /^[a-zA-Z0-9_-]+@([a-zA-Z0-9]+\.)+(com|cn|net|org)$/;
					return validateReg.test(value);
				};
				//选择性别
				$scope.selectSex = function() {
					var btnArray = [{
						title: "男"
					}, {
						title: "女"
					}];
					plus.nativeUI.actionSheet({
						title: "选择性别",
						cancel: "取消",
						buttons: btnArray
					}, function(e) {
						var index = e.index;
						switch(index) {
							case 0:
								//"取消"
								break;
							case 1:
								//男
								$scope.newEmployee.Sex = 1;
								$scope.$apply();
								break;
							case 2:
								//女
								$scope.newEmployee.Sex = 2;
								$scope.$apply();
								break;
						}
					});
				};
				//修改部门
				$scope.selectOrgs = function() {
					UtilsService.openWindow({
						id: "mdSelectOrgPage.html",
						url: "../common/mdSelectOrgPage.html",
						extras: {
							callback: 'getOrg',
							selectedOrgID: $scope.newEmployee.OrgID
						}
					});
				};
				//添加员工确认
				$scope.addPerson = function() {
					if(!$scope.newEmployee.UserName) {
						mui.toast("请输入帐号");
						return;
					}
					var re = /^[0-9a-zA-Z]*$/g;
					if(!re.test($scope.newEmployee.UserName)) {
						mui.toast("账号只能输入数字和字母");
						return;
					}
					if(!$scope.newEmployee.RealName) {
						mui.toast("请输入员工姓名");
						return;
					}
//					 if($scope.newEmployee.Sex == 0) {
//					 	mui.toast("请选择性别");
//					 	return;
//					 }
					if(!$scope.newEmployee.Phone) {
						mui.toast("请输入手机号");
						return;
					}
					if(!$scope.isMobile($scope.newEmployee.Phone)) {
						mui.toast("请输入正确的手机号码");
						return;
					}

//					 if(!$scope.newEmployee.EMail) {
//					 	mui.toast("请输入邮箱");
//					 	return;
//					 }
//					 if(!$scope.isEmail($scope.newEmployee.EMail)) {
//					 	mui.toast("请输入正确的邮箱地址");
//					 	return;
//					 }
					//验证所填字符长度
					if(!checkLengthUtil.check()) {
						return false;
					}
					var url = ApiService.Api50 + "/api/v1/User/AddUser";
					DataService.post(url, $scope.newEmployee).then(function(res) {
						//调用rpc更新人员列表
						RpcClient.invoke("org.html", "RPC_RefreshUserInfo");
						mui.toast("添加成功");
						//刷新联系人页签组织建构
						RpcClient.invoke("contactWind", "RPC_ContactOrgRefresh");
						mui.back();
					});
				};
			}]);
			//选择部门回调
			function getOrg(obj) {
				var appElement = document.querySelector('[ng-controller=AddStaffController]');
				var $scope = angular.element(appElement).scope();
				$scope.OrgList = obj;
				if(obj.length>0){
					for(var i = 0; i < obj.length; i++) {
						$scope.newEmployee.OrgID = obj[obj.length - 1].ID;
						$scope.OrgName = obj[obj.length - 1].OrgName;
					}
				}else{
					$scope.newEmployee.OrgID = 0;
					$scope.OrgName = "";
				}
				$scope.$apply();
			};
			mui.plusReady(function() {
				angular.bootstrap(document.getElementById("MdTong"), ["MdTong"]);
			});
		</script>
	</body>

</html>