<ul class="data-group data-title" ng-if="model.length>0">
	<li class="data-row customer mui-table-view-cell mui-block" ng-repeat="item in model" ng-click="morecustomer(item)">
		<p class="opt md-icon font-15">
			<i class="icon-right" ng-if="action!='select'"></i>
		</p>
		<i class="mui-pull-left font-18" ng-class="{'icon-round color-gray':item.ID!=selectObj.ID,'icon-roundcheckfill color-blue ':item.ID==selectObj.ID}" ng-if="action=='select'"></i>
		<div class="company-name font-16 mui-ellipsis" ng-style="{'margin-top':item.Province==''?'12px':'0px'}">
			<span ng-bind="item.CustomerName"></span>
		</div>
		<div class="company-address font-13 mui-ellipsis" ng-if="item.Province">
			<span ng-bind="item.Province | locationfilter:item.City"></span>
		</div>
	</li>
</ul>
<style type="text/css">
	.data-group .data-row i {
		line-height: 47px;
		margin-right: 10px;
		margin-left: 16px;
	}
	
	.data-group .data-row:after {
		right: 0px;
	}
	
	.data-group .data-row .body {
		padding: 9px 10px 10px 16px;
	}
	
	.chekbox {
		display: inline-block;
		margin-right: 16px;
		font-size: 20px;
	}
	
	.search-title {
		color: #888888!important;
		font-size: 1.4rem!important;
		left: 15px!important;
	}
	
	label.prodnames {
		left: 80px!important;
		color: #323232!important;
	}
	
	.company-name span {
		color: #323232;
	}
	
	.company-name {
		margin-left: 16px;
		width: 80%;
	}
	
	.company-address {
		width: 80%;
		margin-left: 16px;
		margin-top: 5px;
		color: #999999;
	}
	
	li.customer {
		padding-top: 10px!important;
		padding-bottom: 10px!important;
	}
</style>