<ul class="data-group data-title" ng-if="model.length>0">
	<li class="data-row mui-table-view-cell" ng-repeat="item in model" ng-click="compInfo(item.CompID)">
		<p class="opt md-icon font-15">
			<span class="icon-right"></span>
		</p>
		<div class="body">
			<div class="avatar mui-media-object mui-pull-left md-compcustomLogo" ng-style="{'background-image':'url('+ (item.CompID|getCompLogo:100:100) +')'}"></div>
			<div class="names mui-ellipsis" ng-bind="item.CompName" style="margin-top: 4px;"></div>
			<div class="CreateDate" ng-bind="'通号 ' + ': ' + (item.CompMdt?item.CompMdt:item.mdt)"></div>
		</div>
	</li>
</ul>
<style type="text/css">
	
	.data-group .data-row:after {
		right: 0px;
	}
	
	.names {
		font-size: 1.6rem;
		color: #323232;
		position: relative;
		left: 15px;
	}
	
	.CreateDate {
		font-size: 1.3rem;
		color: #999999;
		position: relative;
		left: 15px;
		top: 5px;
	}
	
	.data-group .data-row .body {
		padding: 9px 10px 10px 16px;
	}
	
	
	
	.search-title {
		color: #888888!important;
		font-size: 1.4rem!important;
		left: 15px!important;
	}
	
	.md-compcustomLogo {
		line-height: 48px;
		border-radius: 50%;
		width: 48px;
		height: 48px;
		background-size: cover;
		color: #FFFFFF;
		font-size: 2.1rem;
		font-family: MicrosoftYaHei;
		text-align: center;
		
	}
</style>